# SQL + TABLES

In [2]:
import sqlite3

def createTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    mycursor.execute("CREATE TABLE favFoods (id INTEGER PRIMARY KEY, food VARCHAR(255), foodType VARCHAR(255))")
    mydb.close()
    
def fillTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "INSERT INTO favFoods (food, foodType) VALUES (?, ?)"
    val = [
    ('Beef Stew', 'Dinner'),
    ('Dumplings', 'Chinese'),
    ('Cranberries', 'Dried Fruit'),
    ('HardBoiled Eggs', 'Breakfast'),
    ('Juice', 'Beverages'),
    ]
    mycursor.executemany(sql, val)
    print(mycursor.rowcount)
    mydb.commit()
    mydb.close()
    
def viewTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "SELECT * FROM favFoods"
    mycursor.execute(sql)
    tableData = mycursor.fetchall()
    for x in tableData:
      print(x)
    mydb.commit()
    mydb.close()
    
def deleteTable():
    mydb = sqlite3.connect("mydatabase.db")
    mycursor = mydb.cursor()
    sql = "DROP TABLE IF EXISTS favFoods"
    mycursor.execute(sql)
    mydb.close()

In [3]:
deleteTable()
createTable()
fillTable()
viewTable()

5
(1, 'Beef Stew', 'Dinner')
(2, 'Dumplings', 'Chinese')
(3, 'Cranberries', 'Dried Fruit')
(4, 'HardBoiled Eggs', 'Breakfast')
(5, 'Juice', 'Beverages')